@{
    ViewData["Title"] = "Persons Faker";
    Layout = "_LayoutHome";
}

<div class="header">
    <h2 class="header-text">Persons Faker</h2>
</div>

<div class="control-panel">
    <label class="input-label">Regions</label>
    <select id="region">
        <option selected value="United States">Uzb</option>
    </select>

    <div class="control-row">
        <label class="input-label">Errors</label>
        <input class="input" type="range" id="errors-slider" max="10" step="0.25">
        <input class="input" type="number" min="0" max="1000" step="0.25" value="0" id="errors-value">
    </div>

    <div class="control-row">
        <label class="input-label">Errors Seed</label>
        <input class="input" type="number" min="0" id="errors-seed" value="0">
    </div>

    <div class="control-row">
        <label class="input-label">Generation Seed</label>
        <input class="input" type="number" id="generation-seed" value="0">
    </div>
</div>

<div class="buttons-panel">
    <button class="button button-random" id="random" onclick="randomGenerate()">Random</button>
    <button class="button button-export" id="export" onclick="exportData()" action="~/api/Export">Export</button>
</div>

<div class="data-panel">
    <table class="data-table">
        <thead>
            <tr>
                <td>Number</td>
                <td>UUID</td>
                <td>Name</td>
                <td>Lastname</td>
                <td>Adress</td>
                <td>Phone</td>
                <td>Zipcode</td>
            </tr>
        </thead>
        <tbody id="table-body">
        </tbody>
    </table>
</div>
<div class="buttons-panel">
    <button class="button" id="more" onclick="loadMore()">Load More</button>
</div>